{% load static %}
<div class="card mb-4">
    <div class="card-header">
        <div class="row">
            <h3 class="col-2">{{ question.author }}</h3>
            <p class="col-9 text-right"> {{ question.create_date }}</p>
            <div class="col-1 text-right">
                {% if question.is_pinned %}
                    <img src="{% static 'images/push-pin.png' %}" width="20" height="20" alt="">
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="row col-3">
                {% include 'articles/utils/likeDisQuestions.html' %}
                <div class="row col-7">
                    {% if question.author.avatar != '' %}
                        <img class="user_avatar card-img" src="{% static question.author.avatar %}" alt="no avatar">
                    {% else %}
                        <img class="user_avatar card-img" src="{% static 'default_avatar.svg' %}" alt="">
                    {% endif %}
                </div>
            </div>
            <div class="col-9">
                <h3 class="card-title text-center">{{ question.title }}</h3>
                <p class=" text-break" style="max-width: 100%;">
                    {{ question.text|truncatewords:30 }}
                </p>
                <div class="row">
                    <a href="{% url 'articles:display_single' question.id %}" class="col-6 stretched-link">Continue
                        reading</a>
                    <a href="{% url 'articles:display_single' question.id %}"
                       class="col-6 text-right stretched-link">Answers({{ question.total_answers }})</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        {% if question.tags.all %}
            Tags:
            {% for tag in question.tags.all %}
                <a href="{% url 'articles:tags_list' tag.id %}">{{ tag.tag_name }}</a>
            {% endfor %}
        {% endif %}
    </div>
</div>