{% extends 'articles/base.html' %}
{% load static %}
{% block content %}
    {% if page_object %}
        <div class="nav_popular list-group-item rounded">
            <div class="nav nav-pills">
                <li class="col-4 btn-sm text-center">
                    <a class="font-italic nav-link {% if sort_key == '-is_pinned' %} active {% endif %}"
                       href="?pinned"><strong>Закрепленное</strong></a>
                </li>
                <li class="col-4 btn-sm text-center">
                    <a class="font-italic nav-link {% if sort_key == '-create_date' %} active {% endif %}"
                       href="{% url 'articles:Cat In Hat' %}"><strong>Новое</strong></a>
                </li>
                <li class="col-4 btn-sm text-center">
                    <a class="font-italic nav-link {% if sort_key == '-total_answers'  %} active {% endif %}"
                       href="?popular"><strong>Популярное</strong></a>
                </li>
            </div>
        </div>
        {% for post in page_object %}
            {% include 'articles/utils/card.html' %}
        {% endfor %}
        {% if is_paginated %}
            {% include 'articles/utils/paginator.html' %}
        {% endif %}
    {% else %}
        <h3 class="font-italic">Посты не найдены!</h3>
    {% endif %}
{% endblock %}